*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#cuerpo{
    /* margin-left: 10%;
    margin-right: 10%; */
    background-image: url(/images/programacion-fondo.jpg);
}

/* ESTILOS MENU DE NAVEGACIÓN */
header{
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

header a img{
    width: 40%;
}

nav{
    width: 40%;
    display: flex;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav li{
    list-style: none;
    font-family: 'Manrope', sans-serif;

}

.menu-nav li a{
    font-weight:500;
    font-size: 18px;
    color: white;
    text-decoration: none;
    /* padding-bottom: 0.3rem; */
    padding: 0 10px;
    position: relative;
}

.menu-nav li a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu-nav li a:hover:after{
    width: 100%;
}


/* ESTILOS MAIN */

.infoHero {
    margin: 0 10%;
    padding:80px 0;
    font-family: 'Manrope', sans-serif;
    height: 550px;
}

.infoHero div img{
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.infoHero h1{
    font-weight:900;
    font-size: 60px;
    width: 85%;
    letter-spacing: -3px;
    color: white;
    animation-name: titulopri;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes titulopri {
    0%{
        transform: translateX(-150px);
        opacity: 0%;
    }

    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}

/* PIE DE PAGINA */


.pie-de-inicio{
    display: flex;
    height: 250px;
    font-family: 'Manrope', sans-serif;
    padding-top: 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

footer div h6{
    margin-bottom: 8px;
    font-size: 14px;
    color:darkgray;
    font-weight: 500;
}

.pie-de-inicio li{
    list-style: none;
}

.pie-de-inicio li a{
    text-decoration: none;
    color:darkgray;
    font-size: 14px;
    margin-left: 24px;
}

.pie-de-inicio li a:hover{
    color: white;
}

.pie-de-inicio ul{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.marcas a img{
    opacity: 30%;
    width: 180px;
}

.marcas a:nth-child(2){
    margin-left: 36px;
}

.marcas img:hover{
    opacity: 60%;
}

/* atributos para todas las secciones, exceptuando inicio */

#cuerpoSecciones{
    /* margin-left: 10%;
    margin-right: 10%; */
}

.nav-secciones li{
    list-style: none;
    font-family: 'Manrope', sans-serif;

}
.nav-secciones li a{
    font-weight:500;
    font-size: 18px;
    color: black;
    text-decoration: none;
    /* padding-bottom: 0.3rem; */
    padding: 0 10px;
    position: relative;
}

.nav-secciones li a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-secciones li a:hover:after{
    width: 100%;
}

/*  */

.nosotros-primera{
    margin: 0 10%;
    height: 750px;
    display:flex;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.sobreNosotros{
    width: 60%;
    height: 100%;
    padding-top: 8rem;
    animation-name: sobre-nosotros;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes sobre-nosotros {
    0%{
        opacity: 0%;
        transform: translateY(-50px);
    }    
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}

.sobreNosotros h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.sobreNosotros p{
    font-size: 2rem;
    font-weight: 500;
    width: 75%;
    margin-bottom: 2%;
}

.cuadroInfo{
    background-color: black;
    height: 400px;
    width: 330px;
    color: white;
    margin-left: 10%;
    padding: 3%;
    margin-top: -6rem;
    animation-name: cuadroInfo;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes cuadroInfo {
    0%{
        opacity: 0%;
        transform: translateY(-50px);
    }    
    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}

.cuadroInfo h3{
    margin-bottom: 2rem;
}

.cuadroInfo ul{
    list-style: none;
}

.cuadroInfo ul li{
    margin-bottom: 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.nosotros-segunda{
    display: flex;
    height: 500px;
    margin: 0 10%;
    /* background-color: beige; */
}

.videoFrame{
    margin-right: 8rem;
}

.infoVideo{
    text-align: center;
    margin-top: 3rem;
    font-family: 'Manrope', sans-serif;
    /* background-color: aquamarine; */
}

.infoVideo h2{
    font-size: 2rem;
}

.infoVideo h2:nth-child(2){
    color: grey;
    margin-bottom: 2.5rem;
}

.infoVideo p{
    width: 80%;
    margin: auto;
}


.fundadores{
    display: flex;
    font-family: 'Manrope', sans-serif;
    margin: 0 10%;
}

.fundadores div{
    width: 25%;
}

.fundadores div h2{
    width: 80%;
    font-size: 1.8rem;
    font-weight:900;
}

.personaFundadores img{
    width: 250px;
    margin-bottom: 2rem;
}

.personaFundadores{
    padding-right: 1rem;
}

.personaFundadores p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    width: 87%;
    margin-top: 12px;
}

.personaFundadores h3{
    font-weight: 600;
}

.personaFundadores h4{
    color: darkgray;
    font-weight: 400;
    font-size: 16px;
}

.nosotrosFinal{
    font-family: 'Manrope', sans-serif;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotrosFinal h2{
    width: 34%;
    margin-bottom: 2%;
    font-weight: 900;
}

.nosotrosFinal a{
    text-decoration: none;
    color: darkgray;
    font-size: 16px;
    font-weight: 500;
}

.nosotrosFinal a:hover{
    color:rgb(67, 67, 67);
}

/* Pie de pagina */

.pieSecciones{
    background-image: url(/images/programacion-fondo.jpg);
    height: 500px;
    align-items: flex-end;
    margin: 0;
}

.pieSecciones div{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

/* estilos proyectos */

#mainProyectos{
    margin: 0 10%;
    font-family: 'Manrope', sans-serif;
}

.imagencard img{
    width: 500px;
}


.cajalink{
    display: flex;
    width: 85%;
    align-content: center;
    height: 241px;
    margin-top: 8%;
    border: 0.5px solid darkgray;
}

.contenidocard{
    padding: 3% 5%;
}

.enlacelink{
    text-decoration: none;
    color: black;
}

.contenidocard h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contenidocard p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3%;
    width: 100%;
    padding-bottom: 35px;
    border-bottom: 1px solid darkgray;
}

.masinfo{
    color: darkgray;
    text-decoration: none;
    font-size: 14px;
}

.masinfo:hover{
    color: #767676;
}

.linkProyectos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

