*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin-left: 8%;
    margin-right: 8%;
}

/* ESTILOS MENU DE NAVEGACIÓN */
header{
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

header a img{
    width: 40%;
}

nav{
    width: 40%;
    display: flex;
}

nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav li{
    list-style: none;
    font-family: 'Manrope', sans-serif;

}

.menu-nav li a{
    font-weight:500;
    font-size: 18px;
    color: black;
    text-decoration: none;
    /* padding-bottom: 0.3rem; */
    padding: 0 10px;
    position: relative;
}

.menu-nav li a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.menu-nav li a:hover:after{
    width: 100%;
}


/* ESTILOS MAIN */

.infoHero {
    padding:80px 0;
    /* display: flex; */
    font-family: 'Manrope', sans-serif;
}

.infoHero div img{
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.infoHero h1{
    font-weight:900;
    font-size: 64px;
    width: 80%;
    letter-spacing: -3px;
}

.enlaces div{
    margin-bottom: 24px;
    background-color: #2f2bd8;
    padding: 24px 24px;
    color: white;
    width: 20%;
    margin-right: 20px;
}

.enlaces div :nth-child(1){
    margin-right: 16px;
}

.enlaces{
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-end;
    align-items: center;
    height: 400px;
}

/* segunda seccion  */

.segundaSeccion{
    display: flex;
    /* padding-top: 40px; */
    padding-bottom: 40px;
    font-family: 'Manrope', sans-serif;
    /* margin-top: 120px; */

}

.segundaSeccion div{
    border: 1px;
    border-color: black;
}

.seccionItems{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.seccionItems div a img{
    width: 24px;
}

.seccionItems div{
    padding: 24px 0;
    display: flex;
}

.seccionItems div p{
    width: 60%;
    margin-right: 40px;
}

.seccionItems div h3{
    width: 40%;
}

.tituloImagen img{
    margin-top: 50px;
    width: 80%;
}

.tituloImagen h2{
    font-size: 36px;
    font-weight: bold;
    width: 43%;
}

/* TERCERA SECCION */

.terceraSeccion{
    display: flex;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.infoDestacada{
    background-color:rgb(21, 21, 21);
    height: 500px;
    width: 350px;
    margin-right: 300px;
    margin-left: 100px;
    color: white;
    padding: 24px 16px;
}

.terceraSeccion_segunda div{
    padding: 24px 0;
    margin-top: 24px;
}

.terceraSeccion_segunda div a img{
    width: 24px;
}


/* PIE DE PAGINA */


footer{
    display: flex;
    height: 250px;
    font-family: 'Manrope', sans-serif;
    padding-top: 24px;
}

footer div{
    width: 50%;
}

footer div a img{
    width: 24px;
    margin-right: 16px;
}

footer div h5{
    width: 40%;
    margin-bottom: 40px;
}

footer div h6{
    margin-bottom: 8px;
    font-size: 16px;
}

/* Descentralización */

.primeraDescen div a img{
    width: 24px;
}

.primeraDescen{
    margin-top: 80px;
}

.primeraDescen_titulo{
    display: flex;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 40px;
}

.primeraDescen_titulo h3{
    width: 20%;
    font-size: 16px;
    font-weight: 500;
    margin-right: 340px;

}

.primeraDescen_titulo h2{
    font-size: 36px;
    padding-left: 80px;
    width: 40%;
}

.primeraDescen_cajas{
    width: 40%;
    display: flex;
}

.primeraDescen_cajas div{
    margin-right: 1rem;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 16px;
}

.primeraDescen_cajas div h4{
    margin-bottom: 16px;
}

.primeraDescen_cajas div p{
    margin-bottom: 16px;
}

/* SEGUNDA SECCION */


.segundaDescen{
    font-family: 'Manrope', sans-serif;
    margin-top: 80px;
}

.segundaDescen div img{
    width: 33%;
}

.segundaDescen h3{
    font-size: 36px;
    margin-bottom: 36px;
    width: 40%;

}

.terceraDescen{
    margin-top: 80px;
    font-family: 'Manrope', sans-serif;
    height: 90%;
}

.terceraDescen h3{
    margin-bottom: 16px;
}

.descen_cajas img{
    width: 32px;
    margin-bottom: 16px;
}

.descen_cajas{
    width: 40%;
}


/* Historia */

.primeraHistoria img{
    width: 500px;
}

.primeraHistoria{
    display: flex;
    font-family:  'Manrope', sans-serif;
    margin-top: 80px;
}

.historia_imagentexto h4{
    margin-bottom: 12px;
    width: 20%;
    font-size: 16px;
    font-weight: 500;
}

.historia_imagentexto img{
    margin-bottom: 24px;
}

.segundaHistoria{
    margin-top: 40px;
    font-family:  'Manrope', sans-serif;
}

.segundaHistoria div img{
    width: 30%;
    margin-top: 16px;
}

.segundaHistoria div p{
    width: 30%;
    margin-top: 16px;
}

