@media screen and (max-width:576px) {
    #navbarNav{
        margin-top: 3%;
        justify-content: flex-start;
    }

    #navbarNav li>a{
        font-size: 20px;
        opacity: 80%;

    }

    #navbarNav li>a:hover{
        opacity: 100%;
    }
}
#navbarNav{
    margin-top: 3%;
    justify-content: flex-start;
}

#navbarNav li>a{
    font-size: 18px;
    opacity: 80%;
    margin-left: 15px;
}

#navbarNav li>a:hover{
    opacity: 100%;
}